@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato&family=Manrope&family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Neucha&family=Poppins&family=Raleway&family=Roboto&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
